*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.LandingPage{
  display: flex;
  flex-direction: row;
  
  align-items: start;
}

.sidebar{
  height: 100vh;
  width: 200px;
  padding-left: 25px; 
   padding-top: 25px;
  background-color: #15191C;
  
}
.sidebar section{
  margin-top: 20px;
  ;
} 
.Introduce{
  width: 840px;
  height: 500px;
  background-color: #2C343A;
  border-radius: 10px;
  
  
  
}
.Introduce header{
  height: 60%;
  overflow: hidden;
  position: relative;
  border-radius: 10px 10px 0px 0px;
}
.Introduce img{
  
  position: absolute;
  width: 100%;
  top: 20%;
  transform: translateY(-40%);
}
.Introduce footer{
  padding-left: 10px;
}