.Introduce{
  width: 840px;
  height: 500px;
  background-color: #2C343A;
  
}
.IntroduceHeader{
  height: 60%;
  overflow: hidden;
  position: relative
}
.Introduce img{
  position: absolute;
  width: 100%;
  top: 20%;
  transform: translateY(-40%);
}